*, *::before, *::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg{
    display: block;
    max-width: 100%;
}
input, button, textarea, select{
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6{
    overflow-wrap: break-word;
}
h1{
    font-size: 72px;
    line-height: 80px;
}
h2{
    font-size: 56px;
    line-height: 64px;
}
h3{
    font-size: 40px;
    line-height: 48px;
}
h4{
    font-size: 24px;
    line-height: 32px;
}
h5{
    font-size: 16px;
    line-height: 24px;
}
p,a{
    font-family: 'DM Sans', sans-serif;
}
a{
    color: #000;
    font-weight: 700;
    text-decoration: none;
}
li{
    list-style: none;
}
h1,h2,h3,h4,h5{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
}



/* <!-- categroies start -->
<!-- <div class="categories">
    <input type="text" placeholder="Search">
    <div class="categoriesItem">
        <a class="title" href="#">Categories</a>
        <div class="card">
            <a href="#">Principes</a>
            <p>7</p>
        </div>
        <div class="cizgi"></div>
        <div class="card">
            <a href="#">Nullam</a>
            <p>42</p>
        </div>
        <div class="cizgi"></div>
        <div class="card">
            <a href="#">Quaerendum</a>
            <p>73</p>
        </div>
        <div class="cizgi"></div>
        <div class="card">
            <a href="#">Deterruisset</a>
            <p>9</p>
        </div>
        <div class="cizgi"></div>
        <div class="card">
            <a href="#">Erroribus</a>
            <p>20</p>
        </div>
        <div class="cizgi"></div>
    </div> -->
    